*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  font-family: 'Open Sans';
  background-color: #C5CAE9;
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  max-width: 1000px;
  padding: 10px;
  margin: auto;
}
.img-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  /* background: rgba(0, 0, 0, 0.541); */
  /* background-image: url(/img/kids.jpg) no-repeat center/cover; */
}
img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.snow {
  height: 100vh;
}
